body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("/src/images/Board.jpg");
    font-family: consolas;
}
.title {
    color: white;
    text-align: center;
    text-decoration: underline;
    margin: 0;
}
#root {
    width: 1500px;
}
.TodoApp {
    background-color: gold;
    margin-top: 2vh;
    padding: 2vh;
    border: black solid 3px;
    border-top-left-radius: 10px;
    width: 20%;
}
.TodoApp:hover {
    box-shadow: 10px 5px 5px;
    border: red solid 3px;
    transform: scale(1.5);
    z-index: 10;
}

.listItem {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

input[type="checkbox"]:checked {
    cursor: pointer;
}

.TodoApp button {
    background-color: cornflowerblue;
    border: thin solid dodgerblue;
    border-radius: 0.125rem;
    color: white;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
}
.TodoApp .button-icon {
    vertical-align: top;
    margin: 0 0.2rem;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    font-family: apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla, segoe ui symbol;
    font-size: 0.9rem;
    font-weight: normal;
    cursor: pointer;
}

.TodoApp .button-icon:hover {
    text-decoration: none;
    cursor: pointer;
}

.TodoApp ul li .button-icon {
    font-size: 0.9rem;
    visibility: hidden;
}

.TodoApp ul li:hover .button-icon {
    font-size: 0.9rem;
    visibility: visible;
}
